/* Base styles - typography, resets, global elements */

html,
body {
  font-family: Helvetica, Arial, sans-serif;
}

h3 {
  font-size: 20px;
  margin: 20px 0 5px 0;
}

body {
  padding: 70px 30px 30px 30px; /* top accounts for 40px header-bar */
}

small {
  color: gray;
}

small {
  margin-top: 5px;
  margin-bottom: 3px;
  display: block;
}

canvas {
  border: 1px solid #eeeeee;

}
