/* Layout styles - grid, columns, containers */

.Columns {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 30px;
}

.PreviewBox {
  background: #eeeeee;
  padding: 20px;
  overflow: scroll;
  text-align: center;
  max-height: 300px;
  max-width: 50vw;

}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #eeeeee;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

.footer__left {
  display: flex;
  gap: 10px;
}

.footer__right {
  display: flex;
}
